<div class="jumbotron">
  <h1>О клубе</h1>
  <iframe width="100%" height="500px" src="https://www.youtube.com/embed/WUWUtBxhrjs" frameborder="0" allowfullscreen></iframe>
  <br><br>
  <p><b>GRIDIN GYM</b> – новый спортивный проект, бойцовский клуб легендарного тренера Гридина Андрея Сергеевича, который предлагает полный набор боевых искусств (тайский бокс, бокс, MMA, айкидо) для детей и взрослых. Клуб представляет собой уникальное место, в котором профессиональные тренера введут Вас в мир боевых искусств.</p>

  <p>Независимо от Вашего опыта, начинающий Вы или опытный боец, тренируйтесь для лучшей физической формы, самообороны или для участия в профессиональном спорте, мы создали дружелюбную, семейную атмосферу, которая сосредоточена на профессиональном обучении, с живой атмосферой тренировки, для обеспечения безопасности и прогресса.</p>

  <p>В нашем клубе:</p>
  <ul>
    <li><p>занимаются действующие чемпионы мира, выступающие на мировом уровне (такие как, Чингиз Аллазов, Роман Крыкля, Игорь Бугаенко и другие);</p></li>
    <li><p>выдающийся тренерский состав мира с бесценным опытом, воспитавший многих чемпионов (Андрей Гридин, Александр Ковтик, Сергей Гур, Андрей Зеленевский и др.);</p></li>
    <li><p>лучшая детская сборная в Беларуси по тайскому боксу.</p></li>
  </ul>
  <p><a class="btn btn-danger btn-lg" href="/schedule" role="button">Посмотреть рассписание</a></p>
</div>
