
<div class="jumbotron">
        <h1>Контакты</h1>
        <address>
          <strong>GRIDIN GYM - бойцовский клуб</strong><br>
          Беларусь, г. Минск<br>
          ул. Славинского, д. 1, корпус 1<br>
          <abbr title="Phone">P:</abbr> +375 (29) 675-35-89
        </address>

        <address>
          <strong>Email:</strong><br>
          <a href="#">gridingym@gmail.com</a><br><br>

          <strong>Социальные сети: </strong><br>
          <a href="https://vk.com/gridin_gym">vk.com</a><br>
          <a href="https://www.instagram.com/gridin_gym/">Instagram</a>
        </address>

        <div class="map"></div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.3959105551953!2d27.632100743404525!3d53.9424753410511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf2685b23da7%3A0xaab1e83b4821ee50!2z0YPQuy4g0KHQu9Cw0LLQuNC90YHQutC-0LPQviAxLzMsINCc0LjQvdGB0Lo!5e0!3m2!1sru!2sby!4v1463581481803" width="400" height="400" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
        </div>
</div>
