<div class="jumbotron">
  <h1>Данные отправлены</h1>
  <p>Спасибо, <%= @name_input%></p>
  <p>Мы свяжемся с вами для согласивания времени тренировки</p>
  <p><a class="btn btn-danger btn-lg" href="/" role="button">На Главную</a></p>
</div>
