<div class="jumbotron" id="jumbotron">
    <h1>GRIDIN GYM</h1>
    <p>Бойцовский клуб</p>
</div>

<div class="jumbotron" id="index_img">
  <img src="/images/legend.jpg" width ="40%">
  <h2>ТРЕНИРУЙСЯ У ПРОФЕССИОНАЛОВ</h2>
  <p>Выдающий тренерский состав с бесценным опытом, воспитавший многих чемпионов</p>
  <h2>ПОЛНЫЙ НАБОР БОЕВЫХ ИСКУССТВ</h2>
  <p>Вы можете выбрать для себя наиболее удобный вид спорта: тайский бокс, бокс, MMA, айкидо и кроссфит</p>
  <h2>КAЖДЫЙ МОЖЕТ НАЧАТЬ</h2>
  <p>Нашим клубом разработана специальная методика обучения детей от пяти лет, подростков и взрослых с любым уровнем подготовки</p>
</div>

<div class="jumbotron" id="video">
<iframe width="100%" height="500px" src="https://www.youtube.com/embed/WUWUtBxhrjs" frameborder="0" allowfullscreen></iframe>
</div>

<div class="jumbotron" id="index_img">
  <img src="/images/Logotip.png" width ="300px">
  <h2>Бесплатная тренировка</h2>
  <p>Мы предлагаем вам одну бесплатную тренировку. Это поможет определиться вам: хотите ли вы стать на путь война вместе с клубом GRIDIN GYM.</p>
  <p><a class="btn btn-danger btn-lg" role="button" href="/free" >Узнать больше</a></p>
</div>
