<div class="jumbotron">
  <h1>Рассписание</h1>
  <p>Каждый может выбрать для себя наиболее приемлемый вид тренировок:</p>

  <ul>
    <li><p>Групповые;</p></li>
    <li><p>Идивидуальные тренировки;</p></li>
    <li><p>VIP-группы (тренируют легендарные бойцы).</p></li>
  </ul>

  <p>По любым вопросам относительно расписания тренировок и занятий в клубе обращайтесь по телефону +375 (29) 675-35-89</p>
  <table class="table">
    <thead>
      <tr>
        <th><b>ТРЕНЕР</b></th>
        <th>Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th>Сб</th>
        <th>Вс</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ковтик А.Н.</td>
        <td>10:00</td>
        <td>18:00</td>
        <td>10:00</td>
        <td>18:00</td>
        <td>10:00</td>
        <td>18:00</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Ганин И.В.</td>
        <td>-</td>
        <td>20:00</td>
        <td>-</td>
        <td>20:00</td>
        <td>-</td>
        <td>20:00</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Крыкля С.В.</td>
        <td>20:00</td>
        <td>-</td>
        <td>20:00</td>
        <td>-</td>
        <td>20:00</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>

  <p><a class="btn btn-danger btn-lg" href="/free" role="button">Бесплатная тренировка</a></p>
</div>

