<div class="jumbotron" id="center-text">
  <h2>АНДРЕЙ ГРИДИН</h2>
  <img src="images/1.JPG">
  <p><b>Тренер: Сборная клуба</b></p>
  <ul>
    <li><p>Воспитал 35 чемпионов мира и Европы.</p></li>
  </ul>
</div>

<div class="jumbotron" id="center-text">
  <h2>АЛЕКСАНДР КОВТИК</h2>
  <img src="images/2.JPG">
  <p><b>Тренер: Тайландский бокс (детская группа)</b></p>
  <ul>
    <li><p>Один из лучших тренеров РБ по тайландскому боксу;</p></li>
    <li><p>Воспитал 8 чемпионов мира.</p></li>
  </ul>
  <p><a class="btn btn-danger btn-lg" href="#" role="button">Записаться на тренировку</a></p>
</div>

<div class="jumbotron" id="center-text">
  <h2>АЛЕКСЕЙ ИГНАШОВ</h2>
  <img src="images/3.jpg">
  <p><b>Тренер: VIP группы</b></p>
  <ul>
    <li><p>8-ми кратный чемпион мира по тайландскому боксу;</p></li>
    <li><p>2-ух кратный чемпион Европы и чемпион Евразии;</p></li>
    <li><p>Мастер спорта международного класса РБ.</p></li>
  </ul>
  <p><a class="btn btn-danger btn-lg" href="#" role="button">Записаться на тренировку</a></p>
</div>

<div class="jumbotron" id="center-text">
  <h2>ИВАН ГАНИН</h2>
  <img src="images/4.JPG">
  <p><b>Тренер: Кикбоксинг, Тайландский бокс, К-1</b></p>
  <ul>
    <li><p>Победитель кубка мира по кикбоксингу.</p></li>
  </ul>
  <p><a class="btn btn-danger btn-lg" href="#" role="button">Записаться на тренировку</a></p>
</div>

<div class="jumbotron" id="center-text">
  <h2>ЮРИЙ БЕССМЕРТНЫЙ</h2>
  <img src="images/5.JPG">
  <p><b>Тренер: Кикбоксинг, Тайландский бокс</b></p>
  <ul>
    <li><p>10-ти кратный Чемпион мира по тайландскому боксу.</p></li>
  </ul>
  <p><a class="btn btn-danger btn-lg" href="#" role="button">Записаться на тренировку</a></p>
</div>

  <div class="jumbotron" id="center-text">
  <h2>РОМАН КРЫКЛЯ</h2>
  <img src="images/6.JPG">
  <p><b>Тренер: Индивидуально и VIP группы</b></p>
  <ul>
    <li><p>2-х кратный чемпион мира по кикбоксингу, К-1.</p></li>
  </ul>
  <p><a class="btn btn-danger btn-lg" href="#" role="button">Записаться на тренировку</a></p>
</div>
